In [673]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

In [674]:
df_train = pd.read_csv("../aviachipta/train_data.csv", index_col=0)
df_test = pd.read_csv("../aviachipta/test_data.csv", index_col=0)

In [675]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 1 to 20000
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   airline           20000 non-null  object
 1   flight            20000 non-null  object
 2   source_city       20000 non-null  object
 3   departure_time    20000 non-null  object
 4   stops             20000 non-null  object
 5   arrival_time      20000 non-null  object
 6   destination_city  20000 non-null  object
 7   class             20000 non-null  object
 8   duration          20000 non-null  float64
 9   days_left         20000 non-null  int64
 10  price             20000 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1.8+ MB

In [676]:
df_train.head(3)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
id,,,,,,,,,,,
1,Vistara,UK-810,Bangalore,Early_Morning,one,Night,Mumbai,Economy,14.25,21,7212
2,SpiceJet,SG-5094,Hyderabad,Evening,zero,Night,Kolkata,Economy,1.75,7,5292
3,Vistara,UK-846,Bangalore,Morning,one,Evening,Delhi,Business,9.58,5,60553

In [677]:
# airlane_dic = {'Vistara':1, 'Air_India':2, 'Indigo':3, "GO_FIRST":4, 'AirAsia':5, 'SpiceJet':6}
# df_train['airlanes'] = [airlane_dic[i] for i in df_train['airline']]

In [678]:
city_dic = {'Mumbai':1, 'Delhi':2, 'Bangalore':3, 'Kolkata':4, 'Hyderabad':5, 'Chennai':6}
df_train['sorce_new_cities'] = [city_dic[i] for i in df_train['source_city']]
df_train['destination_new_cities'] = [city_dic[i] for i in df_train['destination_city']]
df_train.drop('flight', axis=1, inplace=True)

In [679]:
# class_dic = {'Business':1, 'Economy':2}
# df_train['new_class'] = [class_dic[i] for i in df_train['class']]

In [680]:
df_adder = pd.get_dummies(df_train[['class', 'stops', 'airline', 'arrival_time', 'departure_time']], dtype='int')
df_train = pd.concat([df_train, df_adder], axis=1)

In [681]:
# depar_time_dic = {'Morning':1, 'Early_Morning':2, 'Evening':3, 'Night':4, 'Afternoon':5, 'Late_Night':6}
# # stops_dic = {'zero':1, 'one':2, 'two_or_more':3}
# df_train['departure_time_new'] = [depar_time_dic[i] for i in df_train['departure_time']]
# df_train['stops_new'] = [stops_dic[i] for i in df_train['stops']]
# df_train['arrival_time_new'] = [depar_time_dic[i] for i in df_train['arrival_time']]

In [682]:
df_train.drop(columns=['airline', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class'], inplace=True)

In [683]:
df_train.corrwith(df_train['price']).abs().sort_values(ascending=False) * 100

price                           100.000000
class_Business                   93.786782
class_Economy                    93.786782
airline_Vistara                  36.041015
airline_Indigo                   28.382460
duration                         21.315809
stops_one                        19.782997
airline_GO_FIRST                 19.155681
stops_zero                       18.703021
airline_AirAsia                  17.427238
airline_SpiceJet                 11.564891
days_left                        10.254494
arrival_time_Late_Night           9.733742
airline_Air_India                 7.082709
arrival_time_Early_Morning        7.065022
arrival_time_Evening              6.380418
stops_two_or_more                 6.058931
arrival_time_Afternoon            4.897634
departure_time_Afternoon          4.546150
departure_time_Night              4.504074
arrival_time_Morning              4.413310
departure_time_Late_Night         3.723692
destination_new_cities            2.636740
departure_time_Early_Morning      2.000378
departure_time_Morning            1.646749
arrival_time_Night                1.320706
sorce_new_cities                  1.265638
departure_time_Evening            0.932441
dtype: float64

In [684]:
# df_train.drop(columns=['arrival_time_new', 'airline_Air_India', 'stops_two_or_more', 'destination_new_cities',
#                        'departure_time_new', 'sorce_new_cities'], inplace=True)

In [685]:
X = df_train.drop('price', axis=1)
Y = df_train['price'].copy()

# X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=42)
scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)
X_scaled = scaler.fit_transform(X)

# Linear Regression

In [686]:
# LR_model = LinearRegression()

# LR_model.fit(X_train_scaled, Y_train)

In [687]:
# LR_predictions = LR_model.predict(X_test_scaled)
# mse = np.sqrt(mean_squared_error(Y_test, LR_predictions))

# print(f"MSE: {mse}")

# Decision Tree

In [688]:
# tree_model = DecisionTreeRegressor()
# tree_model.fit(X_train_scaled, Y_train)

# tree_predictions = tree_model.predict(X_test_scaled)
# mse = np.sqrt(mean_squared_error(Y_test, tree_predictions))

# print(f"MSE: {mse}")

# Random Forest Regressor

In [689]:
# forest_model = RandomForestRegressor(n_estimators=500)
# forest_model.fit(X_train_scaled, Y_train)

# forest_predictions = forest_model.predict(X_test_scaled)
# mse = np.sqrt(mean_squared_error(Y_test, forest_predictions))

# print(f"MSE: {mse}")

forest_model = RandomForestRegressor(n_estimators=1000)
forest_model.fit(X_scaled, Y)

RandomForestRegressor(n_estimators=1000)

# Testing

In [691]:
df_test['sorce_new_cities'] = [city_dic[i] for i in df_test['source_city']]
df_test['destination_new_cities'] = [city_dic[i] for i in df_test['destination_city']]
df_adder = pd.get_dummies(df_test[['class', 'stops', 'airline', 'arrival_time', 'departure_time']], dtype='int')
df_test = pd.concat([df_test, df_adder], axis=1)
df_test.drop(columns=['airline', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class', 'flight'], inplace=True)

Test_scaled = scaler.transform(df_test)

In [692]:
test_predictions = forest_model.predict(Test_scaled)

In [693]:
test_predictions = pd.DataFrame(test_predictions)
test_predictions.to_csv('../aviachipta/test_pred.csv')

In [694]:
import joblib

joblib.dump(forest_model, 'RFR_model.pkl')

['RFR_model.pkl']

In [695]:
load_model = joblib.load("RFR_model.pkl")
test_predictions = load_model.predict(Test_scaled)
test_predictions = pd.DataFrame(test_predictions)
test_predictions.to_csv('../aviachipta/test_pred.csv')